<h1>Welcome to Concert Phone.</h1>

<p>This is a quickly built trial of the Twilio and SongKick APIs
(with a little help from the Yahoo! PlaceFinder API). It runs on
Ruby (1.9.2) on Rails (3.0.4). I also took this an opportunity
to finally try out Heroku. Both Heroku and Twilio were amazingly
simple to use but offered a lot of power.</p>

<p>I'm sure there's even less need for this than for Movie Phone,
but it was a fun way to take Twilio and SK for a test drive.</p>

<p>To try it out, call <b>(650) 262-4730</b>.</p>

<p>-<a href="http://timreganporter.com" style="font-size: .7em">Tim Regan-Porter</a></p>
